@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
@layer components {
  /* page  */
  .auth_container {
    @apply relative z-10 mx-auto w-full max-w-md p-8;
    @apply bg-white/95 backdrop-blur-lg rounded-3xl shadow-2xl border border-white/20;
  }
  .auth_gradient_background {
    @apply min-h-screen w-full bg-linear-to-br from-indigo-600 via-purple-600 to-pink-500;
    @apply flex items-center justify-center p-4 relative overflow-hidden;
  }
  .login_title {
    @apply text-3xl font-bold text-indigo-600 mb-2;
  }
  .password_toggle {
    @apply absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-gray-600 cursor-pointer;
  }
  .logon_button {
    @apply w-full bg-indigo-600 text-white py-3 rounded-xl font-bold disabled:opacity-50;
  }
}
